/* Estilos para la ventana emergente */
.ventana-emergente {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.contenido-ventana {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 5%;
    border-radius: 10px;
    width: 90%;
    max-width: 600px; /* Establece un ancho máximo para evitar que la ventana sea demasiado ancha en pantallas grandes */
}

.contenido-ventana h2{
    text-align: center;
    font-family: 'Cairo', sans-serif;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.laA {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;

}

img {
    
max-width:100%; /* La imagen se ajusta al 100% del ancho del contenedor */
    
height: 1000%; /* Mantiene la proporción de aspecto original de la imagen */
}
